html{
    scroll-behavior: smooth;
}
body{
    font-family: "Raleway";
    margin: 0;
}
#helloPage{
    background-color: rgb(37,41,52);
    height: 100vh;
    color: #fff;
    flex-direction: column;
}
.flex-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.text{
    font-size: 32pt;
    line-height: 36pt;
    text-align: center;
}

.button{
    font-size: 16pt;
    color: #fff;
    margin: 20px;
    padding: 15px 20px;
    border: 2px solid white;
    transition: 0.5s;
    cursor: pointer;
}

.button:hover{
    background-color: rgb(4,194,201);
    border-color: rgb(4,194,201);
}
.button:hover .arrow{
    transform: rotate(90deg);
}
.arrow{margin-left: 10px; transition: 0.5s;}
nav{
    display: flex;
    align-items: center;
    background-color: rgb(37,41,52);
    height: 50px;
    border-bottom: 3px solid rgb(4,194,201);
    z-index: 1;
}
.fixed{
    position: sticky;
    top: 0;
    animation-timing-function: ease-out; animation-name:  navAnimation;
    animation-duration: 1s;
}
@keyframes navAnimation {
    0% {transform: translateY(-100px);}
  }

a{text-decoration: none;}
nav a{
    color: #fff;
    text-transform: uppercase;
    margin: 20px;
    font-size: 16px;
    line-height: 18pt;
}
.active{
    color: #e31b6d;
}

section{color:#616161; padding: 100px 6% 0; text-align: center;}

h1{
    font-size: 30pt;
    color: #444649;
    text-transform: uppercase;
    line-height: 18pt;
    font-weight: 700;
    margin: 0;
    opacity: 0;
}
.line{
    width: 70px;
    height: 4px;
    background-color: #444649;
    margin: 25px auto 100px auto;
    opacity: 0;
}
#skills-info{
    align-items:start;
    margin-top:70px;
}
#me{
    width: 280px;
    height: 250px;
    object-fit: cover;
}
#info{
    flex: 1 0 300px;
    opacity: 0;
    padding: 0 50px;
}
#skills{
    flex-direction: column;
    flex: 1 0 300px;
    opacity: 0;
}
.skill{
    width: 100%;
    height: 28px;
    background-color: #eee;
    margin-bottom: 15px;
}
.skill-range{
    position: relative;
    top:0;
    left:0;
    background-color: #00a1a7;
    height: 100%;
    width: 0;
}
.skill-conteiner{
    position: relative;
    top:0;
    left:0;
    height: 100%;
}

.skill-name{
    text-align: center;
    position: absolute;
    top:0;
    left:0;
    background-color: #04c2c9;
    color: #fff;
    height: 100%;
    line-height: 30px;
    width: 110px;
    font-weight: 600;
}
.slideinLeftAnimation{
    animation-timing-function: ease-out; animation-name:  slideinLeftAnimation;
    animation-duration: 1s;
    animation-fill-mode: forwards ;
}
@keyframes slideinLeftAnimation {
    0% {translate: -600px 0;}
    100%{translate: 0; opacity: 1;}
  }
  .slideinRightAnimation{
    animation-timing-function: ease-out; animation-name:  slideinRightAnimation;
    animation-duration: 1s;
    animation-fill-mode: forwards ;
}
@keyframes slideinRightAnimation {
    0% {translate: 600px 0;}
    100%{translate: 0; opacity: 1;}
  }

.skillsAnimation{
    animation-timing-function: ease-out; animation-name:  skillsAnimation;
    animation-duration: 1s;
    animation-fill-mode: forwards ;
}
@keyframes skillsAnimation {
    from {width: 0;}
    to {width: 100%;}
  }
#portfolio{
    background-color: #f5f5f5;
    overflow: hidden;
}
.projectConteiner{
    overflow: hidden;
    position: relative;
    height: 300px;
    flex: 0 0 390px;
    opacity: 0;
}
#portfolioConteiner{
    margin-bottom: 100px;
}
.projectImg{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
 
.slideinTopAnimation{
    animation-name:  slideinTopAnimation;
    animation-duration: 0.3s;
    animation-fill-mode: forwards ;
}  
@keyframes slideinTopAnimation {
    0% {translate:0 -50px;}
    100%{translate: 0;}
  }
.slideinBottomAnimation{
    animation-timing-function: ease-out; animation-name:  slideinBottomAnimation;
    animation-duration: 0.3s;
    animation-fill-mode: forwards ;
}   
@keyframes slideinBottomAnimation{
    0% {translate:0 50px;}
    100%{translate: 0;}
  }
.slideoutTopAnimation{
    animation-name:  slideoutTopAnimation;
    animation-duration: .5s;
    animation-fill-mode: forwards ;
}  
@keyframes slideoutTopAnimation {
    0% {translate:0;}
    100%{translate: 0 -50px;}
  }
.slideoutBottomAnimation{
    animation-name:  slideoutBottomAnimation;
    animation-duration: .5s;
    animation-fill-mode: forwards ;
}   
@keyframes slideoutBottomAnimation{
    0% {translate:0;}
    100%{translate: 0 50px;}
  }  

.slideinBottomAnimation500{
    opacity: 1;
    animation-timing-function: ease-out; 
    animation-name:  slideinBottomAnimation500;
    animation-duration: 0.5s;
    animation-fill-mode: forwards ;
}   
@keyframes slideinBottomAnimation500 {
    0% {translate:0 500px;}
    100%{translate: 0;}
  }
.opacityUp{
    animation-name:  opacityUp;
    animation-duration: 1s;
    animation-fill-mode: forwards ;
}  
.opacityUp05{
    animation-name:  opacityUp;
    animation-duration: 0.5s;
    animation-fill-mode: forwards ;
}  
@keyframes opacityUp {
    0% {opacity: 0;}
    100%{opacity: 1;}
  }
.opacityDown{
    animation-timing-function: ease-out; animation-name:  opacityDown;
    animation-duration: 1s;
    animation-fill-mode: forwards ;
}   
@keyframes opacityDown {
    0% {opacity: 1;}
    100%{opacity: 0;}
  }
.center{
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
h2{
    color: #1b242f;
    line-height: 18pt;
    font-weight: 700;
    margin: 5px auto;
    
}
h3{
    color: #e31b6d;
    font-size: 12pt;
    font-weight: 400;
    margin: 0 auto;
}
.projectButton{
    display: block;
    color: #1b242f;
    padding: 7px 0;
    width: 170px;
    height: 18px;
    border: 2px solid #e31b6d;
    cursor: pointer;
    text-transform:uppercase;
    margin-top: 60px;
    text-align: center;
}
.projectButton:hover{
    color: #fff;
    background-color: #e31b6d;
}
.projectDiscriptionConteiner{
    visibility: hidden;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
}
.projectDiscriptionCard{
    overflow: hidden;
    height: 100vh;
    width: 700px;
    background-color: white;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
@media screen and (max-width: 700px) {
    .projectDiscriptionCard {
      width: 100%;
    }
  }
.carusel{
    position: relative;
    height: 60%;
    width: 10000px;
    display: flex;
    translate: -700px;
}
.caruselRightSlide{
    animation-name:  caruselRightSlide;
    animation-duration: 0.5s;
    animation-fill-mode: forwards ;
}   
@keyframes caruselRightSlide {
    0% {translate:-700px 0;}
    100%{translate: -1400px 0;}
  }
.caruselLeftSlide{
    animation-name: caruselLeftSlide;
    animation-duration: 0.5s;
    animation-fill-mode: forwards ;
}   
@keyframes caruselLeftSlide {
    0% {translate:-700px 0;}
    100%{translate: 0;}
  }  
.slide{
    object-fit: contain;
    width: 700px;
    height: 100%;
}
.infoConteiner{
    padding: 35px 60px 90px 25px;
    border-top: 3px solid #1b242f;
}
h4{
    font-size: 22pt;
    line-height: 30pt;
    color: #444444;
    margin: 0;
}
h5{
    font-size: 11pt;
    color: #444444;
    display: block;
    font-weight: 300;
    font-size: 11pt;
    line-height: 18pt;
    margin-top: 15px;
    font-weight: 400;
}
.discriptionInfo{
    color: #c0c0c0;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: 700;
    margin: 0;
}
.projectFooter{
    width: 90%;
    position: absolute;
    bottom: 2px;
    left: 25px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.close{
    cursor: pointer;
    width: 26px;
    height: 26px;
}
.discriptionButton{
    margin: 0;
}
.arrowsDescriptionConteiner{
    margin-top: -53px;
    width: 700px;
    display: flex;
    justify-content: space-between;

}
.arrowConteiner{
    background: rgba(0, 0, 0, 0.3);
    width: 63px;
    height: 53px;
    display:flex;  
    align-items:center;  
    justify-content: center;
    cursor: pointer;
    z-index: 1;
}
.arrowDescription{
    width: 32px;
    height: 40px;
}
.aboutHexagon{
    background-color: #04c2c9;
    width: 120px;
    height: 100px;
    display:flex;
    align-items:center;
    justify-content: center;
    margin: auto;
    opacity: 0;
}
.hexagon{
    clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%)
}
.aboutImg{
    width: 65px;
    height: 65px;
}
h6{
    margin: 15px 0 5px;   
    color: #616161;
    text-align: center;
    font-size: 18pt;
}
.color616161{
    color: #616161;
}
h3 a{
    text-decoration: underline;
}
.aboutCard{
    height: 250px;
    flex-grow: 1;
    width: 49%;
}
.aboutCardTexts{
    opacity: 0;
}
@media screen and (min-width: 950px){
    .aboutCard{
        width: 24%;
    }
}
@media screen and (max-width: 450px){
    .aboutCard{
        width: 100%;
    }
}
.aboutConteiner{
    gap: 10px;
}
.flipInX{
    animation-timing-function: ease-out; animation-name:  flipInX;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes flipInX{
    0% {opacity: 0; transform: rotateY(-90deg);}
    100%{opacity: 1; transform: rotateY(0);}
  }
#contact{
    background: #252934;
    height: 60vh;
    overflow: hidden;
}
.downTriangle{
    position: relative;
    top: -100px;
    left: -6vw;
    width: 0; 
    height: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top: 15vh solid #f5f5f5;
}
#contact .line{
    background-color: white;
    margin-bottom: 50px;
}
#contact-header{
    color: white;
}
.contactConteiner{background: #262f38;
    cursor: pointer;
    font-size: 18pt;
    height: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
    display: block;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactConteiner span{
    color: #fff;
    text-align: center;
    font-size: 16pt;
    font-weight: 800;
}
.posConteiner{
    height: 55px;
    margin: 0 15px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    opacity: 0;
}
.posAppearance{
    animation-timing-function: ease-in-out; 
    animation-name:  posAppearance;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes posAppearance{
    0% {opacity: 0; 
        transform: scale(0.1, 0.1);}
    80%{
        opacity: 1; 
        transform: scale(1.6, 1.6);
    }
    100%{opacity: 1; transform: scale(1, 1);}
  }

.contactsConteiner{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactConteiner:hover{
    background-color: rgb(4,194,201);
    transform: scale(0.8, 0.8);
    
}
footer{
    height: 100px;
    background-color: #1b242f;
    padding-bottom: 50px;
}
.button-footer{
    position: relative;
    top: -25px;
    width: 45px;
    height: 50px;
    margin:auto;
    background-color: #e31b6d;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-footer img{
    width: 40px;
    height: 40px;
}
.footnote {
    color: #8f9aa7;
    font-size: 10pt;
    margin: 35px auto;
    opacity: 0.6;
    text-transform: uppercase;
    text-align: center;
}
